{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="navifix"></div>
<div class="container col-sm-4">
    <h1>{{ title }}</h1>
    <p class="lead">{{ content }}</p>
    <form action="/add" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.date) }}
        {{ wtf.form_field(form.file) }}
        <!-- {/{ wtf.form_field(form.recaptcha) }/} -->
        {% if msg %}
            <a>{{ msg }}</a>
            <br><br>
        {% endif %}
        <input class="btn btn-dark " type="submit" value="Upload"/><br>
        
    </form>
</div>
{% endblock %}